.Title{
    margin-top:30px;
    margin-left: 20px;
}
.buttons{
   

   margin:10px;
    float: right;
    

}
.formbody{
    background-image:url("formback.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.navbar-brand {
    color: green !important;
}
.nav-item{
    margin-right: 20px;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    background: white;
    background-blend-mode: color;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
    opacity:1;
}
.login-form-2{
    padding: 5%;
    background:green;
    
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color:black;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color:black;
    background-color:green;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color:green;
    background-color:black;
}
.login-form-2 .ForgetPwd{
    color:black;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color:green;
    font-weight: 600;
    text-decoration: none;
}
/*footer*/
footer{
    background: #3f3f3f;
  color:#d5d5d5;
  padding-top: 20px;}
  hr.light{
    border-top: 1px solid #d5d5d5;
    width:75%;
  
  }
  hr.light-100{
    width:100%;
    border-top: 1px solid #d5d5d5;
  }
  /*Tables*/
  .TableCont{
    margin-top:20px;
  }